@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&family=Roboto+Slab:wght@900&display=swap');

$mainColor: royalblue;
$secondaryColor: silver;
$accentColor: orange;

$universityFont: 'Roboto Slab', serif;;
$headingFont:'Oswald', sans-serif;
$paraFont: 'Montserrat', sans-serif;

