#grid_first {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr;

}

#grid_second {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
}
.box9 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  #grid_first {
    grid-template-columns: 1fr 1fr;
  }

  #grid_second {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .box1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .box9 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1300px) {
  #grid_first {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #grid_second {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .box1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
  .box9 {
    flex-wrap: nowrap;
  }
}