/*** uncss> filename: https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Roboto&display=swap ***/
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v9/4UaHrEJCrhhnVA3DgluAx60.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
 
/*** uncss> filename: http://127.0.0.1:5500/css/main.css ***/
nav, footer {
  background-color: rgba(60, 60, 60, 0.4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around; }

nav li .current {
  background-color: rgba(255, 255, 255, 0.6); }

.navigation {
  list-style: none;
  padding: 0em; }

.navigation li:first-child {
  display: block; }

.navigation li {
  display: none; }

.navigation a {
  display: block;
  color: #fff;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none; }

.navigation a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  border-radius: 5px; }

body {
  padding: 0;
  margin: 0; }

h1 {
  text-align: center; }

.gray-bubble {
  width: 400px;
  height: 400px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  left: -10%;
  top: -10%;
  z-index: -1000;
  overflow: hidden; }

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 10px; }

.inner-box {
  max-width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25%; }

.inner-box:hover {
  transition: 1.0s;
  transform: scale(1.3); }

.inner-img {
  max-width: 80%;
  margin: auto;
  height: auto; }

.content h2 {
  margin: 10px;
  padding: 20px;
  text-align: center; }

img {
  max-width: 80%;
  margin: auto;
  border-radius: 50%;
  margin: 20px;
  overflow: hidden; }

p {
  padding: 20px;
  vertical-align: middle;
  text-align: justify; }

@media (min-width: 700px) {
  .gray-bubble {
    height: 600px;
    width: 600px; }

  .navigation {
    display: flex; }

  .navigation li {
    display: block;
    flex: 1 1 100%; }

  .navigation li a {
    margin-left: 20px;
    text-align: center; }

  .navigation li:first-child {
    display: none; }

  .content-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    height: 300px;
    margin: auto;
    padding: 10px; }

  .content-box:nth-child(odd) {
    flex-direction: row; }

  .content-box:nth-child(even) {
    flex-direction: row-reverse;
    margin-top: 100px;
    margin-bottom: 100px; }

  .inner-box {
    max-width: 45%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25%; }

  .inner-img {
    max-width: 45%;
    height: auto; }

  .content h2 {
    margin: 10px;
    padding: 20px;
    text-align: center; }

  img {
    max-width: 90%;
    margin: auto;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden; }

  p {
    padding: 20px;
    vertical-align: middle;
    text-align: justify; } }
@media (min-width: 1000px) {
  .navigation {
    display: flex; }

  .navigation li {
    display: block;
    flex: 1 1 100%; }

  .navigation li a {
    margin-left: 20px;
    text-align: center; }

  .navigation li:first-child {
    display: none; }

  body {
    padding: 0;
    margin: 0; }

  div {
    float: none; }

  .gray-bubble {
    height: 750px;
    width: 750px;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    left: -20%;
    top: -20%;
    z-index: -1000; }

  .content-box {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    height: 400px;
    margin: auto;
    padding: 10px; }

  .inner-box {
    max-width: 40%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25%; }

  .inner-img {
    max-width: 40%;
    height: auto; }

  .content h2 {
    margin: 10px;
    padding: 20px;
    text-align: center; }

  img {
    max-width: 80%;
    margin: auto;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden; }

  p {
    padding: 20px;
    vertical-align: middle;
    text-align: justify; } }

/*# sourceMappingURL=main.css.map */

