@media (min-width:700px) {

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; 
    flex: 1 1 100%;
  }
  .navigation li a {
    margin-left: 20px;
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }
  
  .content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 80%;
    margin: auto;
    padding: 20px;
  }
  
}
